.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ffffff;
}


.container {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.53);
    overflow: hidden;
    width: 900px;
    height: auto;
    margin: 20px;
    margin-top: 100px;
}

.imageSection {
    flex: 1;
    background: rgb(255, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageSection img {
    width: 80%;
    border-radius: 10px;
}

.formSection {
    flex: 1;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formSection h2 {
    margin-bottom: 20px;
    color: #333;
}

.formSection form {
    width: 100%;
}

.formSection label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

.formSection input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.formSection button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formSection button:hover {
    background-color: #007bff;
}

.formSection p {
    margin-top: 15px;
    color: #666;
}

.formSection a {
    color: #000000;
    text-decoration: none;
}

.formSection a:hover {
    text-decoration: underline;
}

.socialLogin {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.socialLogin p {
    margin-bottom: 10px;
    color: #666;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid gray;
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.google:hover {
    background-color: #dcdcdc;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 85%;
        padding: 10px;
        margin: 50px 0;
    }

    .imageSection {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .formSection {
        padding: 20px;
    }

    .formSection input {
        width: 100%;
        box-sizing: border-box;
    }
}